@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	.btn {
		@apply transition duration-700 py-2 px-4 md:py-3 md:px-4 font-medium tracking-widest text-xl md:text-3xl font-secondary shadow-lg  text-white hover:bg-opacity-70;
	}
	.btn-secondary {
		@apply bg-red;
	}
	.btn-primary {
		@apply bg-primary;
	}
	.landing {
		@apply max-w-7xl mx-auto font-primary text-center ;
	}
	.footer {
		@apply max-w-7xl mx-auto py-12 border-t border-primary border-opacity-70 px-2 text-lg text-primary tracking-wider;
	}
	.item-selection {
		@apply  mx-auto p-4 grid grid-cols-2 lg:grid-cols-3 gap-4  text-white text-lg font-semibold tracking-wider ;
	}
}
